#formedit{
    background-color: rgb(21, 172, 172);
    width:600px;
    border-spacing: 0;
    border-radius: 12px;
}

#formadd{
    background-color: rgb(21, 172, 172);
    width:600px;
    border-spacing: 0;
    border-radius: 12px;
}

input[type=submit]{
    background-color: blue;
    color: white;
    border-width: 0.5px;
    padding: 6px;
    border-radius: 5px;
    cursor:pointer;
}

input[type=button]{
    background-color: #bf3745;
    color: white;
    border-width: 0.5px;
    padding: 6px;
    border-radius: 5px;
    cursor:pointer;

}

table{
    width:75%;
}

thead{
    background-color : rgb(56, 134, 79);
    color : white;
}

.ngedit{
    background-color: #e0b245;
    font-family: 'Courier New', Courier, monospace;
    border-width: 0.5px;
    padding: 6px;
    border-radius: 5px;
    cursor:pointer;
}

.ngehapus{
    background-color: #bf3745;
    font-family: 'Courier New', Courier, monospace;
    color : white;
    border-width: 0.5px;
    padding: 6px;
    border-radius: 5px;
    cursor:pointer;

}

.show{
    display: inline, !important;
}

.hide{
    display: none;
}